html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Board */
.board-e73a7e9c0c1f {
  position: relative;
  width: 100%;
  background: #121212FF;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  padding-block-start: 150px;
  padding-block-end: 0px;
  z-index: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

/* Board */
.board-e73faab68982 {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 69px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Kontent */
.kontent-e73dfb4be006 {
  position: relative;
  width: 1030px;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Seznam členů */
.seznam-le-e73c6c469fd5 {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Tabulka se členy */
.tabulka-se-e73e1ac438aa {
  position: relative;
  width: 786px;
  height: auto;
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: stretch;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

/* Board */
.board-e73e150ac283 {
  position: relative;
  width: 400px;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Board */
.board-e73e150ac284 {
  position: relative;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

/* Krátký popis člena */
.krtk-pop-e73e150ac286 {
  width: 100%;
  flex-shrink: 0;
}
.krtk-pop-e73e150ac286 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.krtk-pop-e73e150ac286 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.krtk-pop-e73e150ac286 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.krtk-pop-e73e150ac286 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Jméno člena */
.jmno-len-e73e150ac287 {
  height: 27px;
  flex-shrink: 0;
}
.jmno-len-e73e150ac287 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.jmno-len-e73e150ac287 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.jmno-len-e73e150ac287 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.jmno-len-e73e150ac287 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 22px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* Profilový obrázek */
.profilov-e73e150ac285 {
  width: 60px;
  height: 60px;
  background: #B1B2B5FF;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  flex-shrink: 0;
}

/* Board */
.board-e73e140225c9 {
  position: relative;
  width: 400px;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Board */
.board-e73e140225ca {
  position: relative;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

/* Krátký popis člena */
.krtk-pop-e73e140225cc {
  width: 100%;
  flex-shrink: 0;
}
.krtk-pop-e73e140225cc .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.krtk-pop-e73e140225cc .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.krtk-pop-e73e140225cc .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.krtk-pop-e73e140225cc .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Jméno člena */
.jmno-len-e73e140225cd {
  height: 27px;
  flex-shrink: 0;
}
.jmno-len-e73e140225cd .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.jmno-len-e73e140225cd .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.jmno-len-e73e140225cd .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.jmno-len-e73e140225cd .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 22px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* Profilový obrázek */
.profilov-e73e140225cb {
  width: 60px;
  height: 60px;
  background: #B1B2B5FF;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  flex-shrink: 0;
}

/* Člen */
.len-e73d2e083e1f {
  position: relative;
  width: 400px;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Text člena */
.text-lena-e73d1cfe3539 {
  position: relative;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

/* Krátký popis člena */
.krtk-pop-e73caa5263e2 {
  width: 100%;
  flex-shrink: 0;
}
.krtk-pop-e73caa5263e2 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.krtk-pop-e73caa5263e2 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.krtk-pop-e73caa5263e2 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.krtk-pop-e73caa5263e2 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 14px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Jméno člena */
.jmno-len-e73c6c469fd7 {
  height: 27px;
  flex-shrink: 0;
}
.jmno-len-e73c6c469fd7 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.jmno-len-e73c6c469fd7 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.jmno-len-e73c6c469fd7 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.jmno-len-e73c6c469fd7 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 22px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* Profilový obrázek */
.profilov-e73c8dbff195 {
  width: 60px;
  height: 60px;
  background: #B1B2B5FF;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  flex-shrink: 0;
}

/* Členi */
.leni-e73ca1586dcc {
  height: 24px;
  flex-shrink: 0;
}
.leni-e73ca1586dcc .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.leni-e73ca1586dcc .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.leni-e73ca1586dcc .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.leni-e73ca1586dcc .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 20px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* Board */
.board-e73c5c02676b {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Popis orgánu */
.popis-org-e73c27f7b75f {
  width: 100%;
  flex-shrink: 0;
}
.popis-org-e73c27f7b75f .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.popis-org-e73c27f7b75f .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.popis-org-e73c27f7b75f .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.popis-org-e73c27f7b75f .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Název Orgánu */
.nzev-org-e73c044cabf9 {
  height: 48px;
  flex-shrink: 0;
}
.nzev-org-e73c044cabf9 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.nzev-org-e73c044cabf9 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.nzev-org-e73c044cabf9 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.nzev-org-e73c044cabf9 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(254, 216, 1, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 40px;
  text-rendering: geometricPrecision;
  caret-color: rgba(254, 216, 1, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
}

/* Sidebar */
.sidebar-e73f52973699 {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 13px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Table */
.table-e73f479b9dba {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 12px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Board */
.board-e73f30d1a2ac {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Název Orgánu */
.nzev-org-e73ebac87b0e {
  height: 20px;
  flex-shrink: 0;
}
.nzev-org-e73ebac87b0e .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.nzev-org-e73ebac87b0e .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.nzev-org-e73ebac87b0e .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.nzev-org-e73ebac87b0e .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Název Orgánu */
.nzev-org-e73f28846e83 {
  height: 20px;
  flex-shrink: 0;
}
.nzev-org-e73f28846e83 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.nzev-org-e73f28846e83 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.nzev-org-e73f28846e83 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.nzev-org-e73f28846e83 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Název Orgánu */
.nzev-org-e73f28e056ce {
  height: 20px;
  flex-shrink: 0;
}
.nzev-org-e73f28e056ce .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.nzev-org-e73f28e056ce .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.nzev-org-e73f28e056ce .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.nzev-org-e73f28e056ce .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Orgány */
.orgny-e73eafb8bce5 {
  height: 36px;
  flex-shrink: 0;
}
.orgny-e73eafb8bce5 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.orgny-e73eafb8bce5 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.orgny-e73eafb8bce5 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.orgny-e73eafb8bce5 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 0.4);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 30px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
}

/* "Link" */
.link-e73ec52ee16a {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Název Orgánu */
.nzev-org-e73f20f07e6b {
  height: 20px;
  flex-shrink: 0;
}
.nzev-org-e73f20f07e6b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.nzev-org-e73f20f07e6b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.nzev-org-e73f20f07e6b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.nzev-org-e73f20f07e6b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* / */
.e73ec0848440 {
  height: 20px;
  flex-shrink: 0;
}
.e73ec0848440 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.e73ec0848440 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.e73ec0848440 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.e73ec0848440 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 0.4);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Orgány */
.orgny-e73ec0e37a9f {
  width: 56px;
  flex-shrink: 0;
}
.orgny-e73ec0e37a9f .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.orgny-e73ec0e37a9f .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.orgny-e73ec0e37a9f .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.orgny-e73ec0e37a9f .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 0.4);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Board */
.board-e73a95e15477 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
  background: #000000FF;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

/* Board */
.board-e73b93f66157 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  column-gap: 273.66px;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1300px;
  max-inline-size: 1300px;
}

/* Board */
.board-e73b4e376329 {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Lidé */
.lid-e73b209329b8 {
  height: 22px;
  flex-shrink: 0;
}
.lid-e73b209329b8 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.lid-e73b209329b8 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.lid-e73b209329b8 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.lid-e73b209329b8 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 18px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Mapa */
.mapa-e73b40b04d29 {
  height: 22px;
  flex-shrink: 0;
}
.mapa-e73b40b04d29 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.mapa-e73b40b04d29 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.mapa-e73b40b04d29 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.mapa-e73b40b04d29 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 18px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Orgány */
.orgny-e73b4553c1b5 {
  height: 22px;
  flex-shrink: 0;
}
.orgny-e73b4553c1b5 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.orgny-e73b4553c1b5 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.orgny-e73b4553c1b5 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.orgny-e73b4553c1b5 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 18px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Group 135 (1) */
.group-135-e73b8248a6b7 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-1.7842830857262015e-7px,0px);
}
.group-135-e73b8248a6b7 {
  position: relative;
  width: 207.34px;
  height: 60px;
  flex-shrink: 0;
}

/* svg-defs */
.svgdefs-e73b824a94de > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgdefs-e73b824a94de {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 207.34px;
  height: 60px;
}

/* svg-g */
.svgg-e73b824a507f > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgg-e73b824a507f {
  position: absolute;
  left: 77.47px;
  top: 33.8px;
  width: 63.04px;
  height: 25.44px;
}

/* svg-path */
.svgpath-e73b824a94dd > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-e73b824a94dd {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 63.04px;
  height: 25.44px;
}

/* svg-path */
.svgpath-e73b824a12fc > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-e73b824a12fc {
  position: absolute;
  left: 79.14px;
  top: 3.04px;
  width: 86.98px;
  height: 23.85px;
}

/* svg-path */
.svgpath-e73b8249d53d > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-e73b8249d53d {
  position: absolute;
  left: 15.7px;
  top: 35.6px;
  width: 22.07px;
  height: 22.19px;
}

/* svg-path */
.svgpath-e73b8249d53c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-e73b8249d53c {
  position: absolute;
  left: 25.65px;
  top: 1.14px;
  width: 46.5px;
  height: 35.53px;
}

/* svg-path */
.svgpath-e73b8249abf7 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-e73b8249abf7 {
  position: absolute;
  left: 0px;
  top: 1.14px;
  width: 56.45px;
  height: 56.65px;
}

/* base-background */
.basebackg-e73b824929dc > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-e73b824929dc {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 207.34px;
  height: 60px;
  display: none;
}
